* {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

img, image, svg, picture, canvas {
    image-rendering: auto;
    image-rendering: optimizeQuality;
    image-rendering: high-quality;
    -webkit-image-rendering: optimizeQuality;
    transform: translateZ(0);
    backface-visibility: hidden;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}